<div class="row">
  <div class="col s4">
    <br />
    <div class="card">
      <div class="card-image">
        <% if Item.all.sample(1).first.picture_url.nil? == false %>
          <p><%= image_tag Item.all.sample(1).first %></p>
        <% end %>
      </div>
      <div class="card-content">
        <span class="card-title"><%= Item.all.sample(1).first.name %></span>
        <table class="striped">
          <tbody>
            <% Customer.order('created_at DESC').limit(5).to_a.each do |customer| %>
              <tr>
                <td>
                  <%= link_to customer.name, customer_path(customer) %> 
                    
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col s4">
    <br />
    <div class="card">
      <div class="card-content">
        <span class="card-title">Most Popular Items</span>
        <table class="striped">
          <tbody>
            <% OrderItem.limit(5).group(:item_id).count().each do |item_id, count| %>
              <tr>
                <td>
                  <%= link_to Item.find(item_id).name, item_path(Item.find(item_id)) %>
                </td>
                <td>
                  <%= count %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col s4">
    <br />
    <div class="card">
      <div class="card-content">
        <span class="card-title">Frequent Customers</span>
        <table class="striped">
          <tbody>
            <% Order.limit(5).group(:customer_id).count().each do |customer_id, count| %>
              <tr>
                <td>
                  <%= link_to Customer.find(customer_id).name, customer_path(Customer.find(customer_id)) %>
                </td>
                <td>
                  <%= count %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
