<div class="card">
  <div class="card-content">
    <h5>Item Information for <%= @item.name %></h5><br />

    <b>Category:&nbsp;&nbsp;</b>
      <%= @item.category %><br /><br />

    <b>Description:&nbsp;&nbsp;</b>
      <%= @item.description %><br /><br />

    <b>Units Per Item:&nbsp;&nbsp;</b>
      <%= @item.units_per_item %><br /><br />

    <b>Weight:&nbsp;&nbsp;</b>
      <%= @item.weight %><br /><br />

    <b>Price:&nbsp;&nbsp;</b>
      <%= @item.current_price %><br /><br />

    <% if @item.picture_url.nil? == false %>
      <b>Active with Baking Factory&nbsp;&nbsp;</b>
         <p><%= image_tag @item.picture_url %></p>
    <% else %>
      <%= image_tag "/assets/not_found.png"%>
      <br />
      <br />
    <% end %>


    <%= link_to(add_to_cart_path(@item.id), method: 'get', class: 'btn tooltipped', 'data-position' => 'left', 'data-tooltip' => 'Add to Cart') do %>
                        <i class="material-icons">add_shopping_cart</i>
                      <% end %>


    <%= link_to toggle_path, method: 'get', :class => 'btn tooltipped', 'data-position' => 'right', 'data-tooltip' => 'Toggle Status' do %>
      <i class="material-icons">toggle_on</i>
    <% end %>

  </div>
</div>
